<!-- main-layout.component.html -->

<mat-toolbar color="primary">
  <div class="toolbar-left">
    <span>Atelier</span>
  </div>
  <div class="toolbar-right">
    <button mat-button routerLink="/">Retour</button>
  </div>
</mat-toolbar>

<div class="main-content">
  <mat-card class="message-area mat-elevation-z2">
    <mat-card-content class="articles-container">
      <app-articles
        *ngFor="let article of articles"
        [title]="article.title"
        [content]="article.content"
        [createdAt]="formatTimeSinceCreation(article.date)"
        (ArticleEvent)="handleArticleEvent($event)"
      ></app-articles>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <button mat-button routerLink="/addArticles">Ajouter</button>
</div>


