<!-- login.component.html -->
<div class="login-container">
  <h2>Connexion</h2>
  <form class="login-form">

    <mat-form-field class="full-width">
      <label for="username">Nom d'utilisateur</label>
      <input matInput type="text" id="username" name="username" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <label for="password">Mot de passe</label>
      <input matInput type="password" id="password" name="password" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <label for="passwordConfirm">Confirmation Mot de passe</label>
      <input matInput type="password" id="passwordConfirm" name="passwordConfirm" required>
    </mat-form-field>

    <button mat-raised-button type="submit" class="signup-button">Connexion</button>
  </form>

  <button mat-icon-button class="back-button" routerLink="/menu">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
